body {
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header img {
  width: 10em;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline;
  list-style-type: none;
  padding: 20px 10px;
}

.main-content {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
