body {
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 900px;
}

header img {
  width: 10em;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline;
  list-style-type: none;
  padding: 20px 10px;
}

main {
  max-width: 75%;
}

.main-content {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  gap: 20;
}

aside {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  width: 25%;
}

aside div {
  display: inherit;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin-bottom: 2em;
}

aside p {
  margin: 0;
}
