@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

body {
  margin: 0;
  background-color:;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2em;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 900px;
}

header img {
  width: 10em;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline;
  list-style-type: none;
  padding: 20px 10px;
}

main {
  max-width: 75%;
}

.footer-wrap,
.main-content {
  max-width: 1200px;
}

.main-content {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  gap: 20;
}

aside {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  width: 25%;
}

aside h2 {
  font-family: unset;
  font-family: unset;
  font-weight: unset;
  text-transform: unset;
  font-size: unset;
}

aside div {
  display: inherit;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin-bottom: 2em;
}

aside p {
  margin: 0;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
